node-red/flows.json
[
    {
        "id": "f50b9a02316d32de",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "http-in",
        "type": "http in",
        "z": "f50b9a02316d32de",
        "name": "Recebe sensor HTTP",
        "url": "/from-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "function-process"
            ]
        ]
    },
    {
        "id": "function-process",
        "type": "function",
        "z": "f50b9a02316d32de",
        "name": "Processa dados",
        "func": "// Verifica tipo e valor\nlet payload = msg.payload;\n\nif (payload.type === \"temperature\" && parseFloat(payload.value) > 30) {\n    node.warn(\"[ALERTA] Temperatura acima de 30°C: \" + payload.value);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "debug-1",
                "http-response"
            ]
        ]
    },
    {
        "id": "debug-1",
        "type": "debug",
        "z": "f50b9a02316d32de",
        "name": "Ver dados recebidos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "f50b9a02316d32de",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    }
]